// Fonts
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300);
$primary-font: 'Roboto Condensed', 'sans-serif';

// Color Vars
$body-bg: #AFBDC4;
$app-bg: #EBEEF0;
$menu-bg: #662D91;
$header-bg: #93278F;
$header-title-color: #F9F9F9; 

// Spacing Variables
$padding: 1.5625em;
$menu-height: 3.125em;

@mixin clearfix {
    &:after {
        content:"";
        display:table;
        clear:both;
    }
}

body {
    background-color: $body-bg;
    font-family: $primary-font;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

header {
    background-color: $header-bg;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $menu-height;
    padding: 0 $padding; 
    color: $header-title-color;
    display: table;

    > * {
        display: table-cell;
        vertical-align: middle;
    }
}
    
.nav--title {
    font-size: 13.86pt;
    font-weight: 300;
    margin: 0;
}

footer {
    position: fixed;
    bottom: 0;
}

.app--nav {
    background-color: $menu-bg;
    width: 31.25%;
    position: relative;
    padding: 0 $padding;
    transition: width 0.3s ease-in-out;

    &.active {
        width: 50%;
    }
}

.nav--toggle {
    position: absolute;
    width: 1em;
    height: 1em;
    background: orange;
    top: 0;
    bottom: 0;
    right: 2 * $padding;
    margin: auto;
}

.nav--main {
   position: absolute;
   left:0;
   right: 0;
   height: 100vh;
   background-color: $menu-bg;
   padding-left: 0;
   transform: translateX(100%);
   transition: 0.7s ease-in-out;

   .active & {
       transform: none;
   }
}

.nav--entry {
    list-style: none;
    color: $header-title-color;
    width: 100%;
    padding: $padding/2 $padding;

    > * + .nav--entry--group {
        padding: $padding;
    }

    a {
        color: inherit;
        text-decoration: none;
    }
}

.nav--entry__group {
    background-color: darken($menu-bg, 15%);
}

.braveux--app {
    margin-top: $menu-height;
    background-color: $app-bg;
    padding: $padding;
}
