// Fonts
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300);
$primary-font: 'Roboto Condensed', 'sans-serif';

// Color Vars
$body-bg: #AFBDC4;
$app-bg: #EBEEF0;
$menu-bg: #662D91;
$header-bg: #93278F;
$header-title-color: #F9F9F9; 
$text-color: #616A75; 
$input-text: #778F9B;
$error: #ED1C24;

// Effects
$menu-shadow: -0.1em 0.1em 0.1em rgba(black, 0.3);

// Spacing Variables
$padding: 1.5625em;
$menu-height: 3.125em;

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    background-color: $body-bg;
    font-family: $primary-font;
    font-size: 16px;
    color: $text-color;
    margin: 0;
    padding: 0;
    min-height: 100vh; 
}

header {
    background-color: $header-bg;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: $menu-height;
    padding-left: $padding; 
    color: $header-title-color;
    display: table;

    > * {
        display: table-cell;
        vertical-align: middle;
    }
}

.app--modal {
    position: fixed;
    z-index: 50;
    top: $menu-height;
    left: 0;
    width: 100%;
    padding: 0 $padding;
    color: $header-title-color;
    transition: top 0.7s ease-in-out;
    box-shadow: 0 0.1em 0.2em rgba(black, 0.3);

    &.hidden {
        top: 0;
        box-shadow: none;
    }
    
    &.error {
        background-color: $error;
    }

    &.success {
        background-color: green;
    }
}

.nav--title {
    font-size: 13.86pt;
    font-weight: 300;
    margin: 0;
}

footer {
    position: fixed;
    bottom: 0;
}

.app--nav {
    background-color: $menu-bg;
    width: 31.25%;
    position: relative;
    padding: 0 $padding;
    transition: width 0.3s ease-out;

    &.active {
        width: 50%;
        box-shadow: $menu-shadow;
    }
}

.nav--toggle {
    position: absolute;
    width: 1em;
    height: 1em;
    cursor: pointer;
    top: 0;
    transform: translateY(100%);
    right: $padding/2;
}

.nav--main {
   position: absolute;
   left:0;
   right: 0;
   height: 100vh;
   background-color: $menu-bg;
   padding-left: 0;
   transform: translateX(100%);
   transition: 0.7s ease-out;

   .active & {
       transform: none;
       box-shadow: $menu-shadow;
       transition: 0.35s ease-in;
   }
}

.nav--entry {
    list-style: none;
    color: $header-title-color;
    width: 100%;
    padding: $padding/2 $padding;

    > * + .nav--entry--group {
        padding: $padding;
    }

    a {
        color: inherit;
        text-decoration: none;
    }
}

.nav--entry__group {
    background-color: darken($menu-bg, 15%);
}

.braveux--app {
    margin-top: $menu-height;
    background-color: $app-bg;
    padding: $padding $padding $menu-height $padding;
    width: 100%;
    display: block;
}

input[type="text"],
input[type="password"] {
    outline: none;
    border: none;
    background: none;
    width: auto;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
}

.eye--icon {
    width: 1.5em;
    cursor: pointer;
}

.app--input-group {
    background-color: white;
    border-radius: 0.175em;
    padding: $padding/3 $padding/2;
    display: table;
    width: 100%;

    &.error {
        border: 0.125em solid $error;
    }
    
    label {
        width: 3.375em;
        color: $input-text;
        padding-right: $padding;
    }
   
    input {
        width: 80%;
    } 
    
    > * {
        display: table-cell;
    }

    & + & {
        margin-top: $padding/2;
    }
}


.app--row {
    display: table;
    width: 100%;
    margin-top: $padding;

    > * {
        display: table-cell;
        vertical-align: middle;
    }
}

.brave-ux--button {
    background-color: $menu-bg;
    border: none;
    padding: $padding/2 $padding;
    color: $header-title-color;
    font-size: 1em;
    border-radius: 0.175em;
    transition: 0.3s;
    width: 33%;
    min-width: 7.25em;
    cursor: pointer;

    &:hover,
    &:active,
    &:focus {
        background-color: lighten($menu-bg, 15%);
    }
}

.brave-ux--help {
    text-align: right;
    text-decoration: none;
    color: inherit;
    transition: 0.3s;
    
    &:hover,
    &:focus,
    &:active {
        text-decoration: underline;
        color: darken($text-color, 12.5%);
    }
}
